
/* Header styles -- start */
.Header__header {
  margin: 10px;
  display: flex;
}

.Header__header > .Header__header-item {
  float: left;
  padding: 10px;
}

.Header__header > .Header__header-item:hover {
  cursor: pointer;
  background-color: green;
}

/* Header styles -- end */